/django_course/venv
/de_zoomcamp/week-1/ny_taxi_postgres_data/
/de_zoomcamp/week-1/terraform/.terraform/
/de_zoomcamp/week-1/green_tripdata_2019-01.csv
/venv/
/de_zoomcamp/week-1/terraform/terraform.tfstate
/de_zoomcamp/week-1/terraform/terraform.tfstate.backup

